<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Blog Website</title>
</head>
<body>
    /*navbar*/
    <nav class="navbar">
        <a href="./index.html" class="logo">BlogsOnline</a>
        <ul class="nav-links">
            <button class="create-button">
                <span class="plus-sign">+</span> Create
            </button>
        </ul>  
    </nav>




    <script src="index.html" charset="UTF-8"></script>
</body>
</html>